<!-- <div class="row"> -->
  <div class="modalDetail">
    <div>
      <h4>{{selectedRow.account}} / {{selectedRow.formID}}</h4>
    </div>
    <div>
      <span style="font-weight:bold;">{{prompts.gridColumnAccount}}: </span>
      <span>{{selectedRow.formName}}</span>
      <br/>
      <span style="font-weight:bold;">{{prompts.gridColumnDate}}: </span>
      <span>{{selectedRow.date}}</span>
      <br/>
      <span style="font-weight:bold;">{{prompts.gridColumnDescription}}: </span>
      <span>{{selectedRow.description}}</span>
      <br/>
      <span style="font-weight:bold;">{{prompts.gridColumnComment}}: </span>
      <span>{{selectedRow.comment}}</span>
      <div ng-if="doesJsonHaveFormFields()" style="font-weight:bold;">
        {{prompts.formFields}}
        <div>
          <div class="grid"
               ui-grid="gridOptions"
               style="font-weight: normal;"
               ui-grid-selection>
          </div>
        </div>

      </div>
    </div>
        
    <br>
    <button class="btn btn-primary btnCustom" ng-click="ok()">OK</button>
    <br><br>
  <!-- </div> -->
</div>
