<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form name="myform" class="form-signin" novalidate="" ng-submit="search()">

        <div class="form-group">
          <label for="onlineID" class="sr-only">{{prompts.searchPattern}}</label>
          <input class="form-control" 
                 type="text" 
                 name="searchPattern" 
                 placeholder="{{prompts.placeHolderSearchPattern}}"
                 ng-model="searchPattern" 
                 ng-required="{{required}}">
        </div>

        <button type="submit" 
                class="btn btn-lg btn-primary btn-block" 
                ng-disabled="myform.$invalid">{{prompts.btnLogin}}
        </button>

      <div class="clearfix"></div>

      <div class="form-group"
           ng-hide="hideSearchInProgress">
           <br>
          <label for="onlineID" class="sr-only">{{prompts.searchPattern}}</label>
          <input class="form-control grid-align-center" 
                 type="text" 
                 name="searchPattern" 
                 placeholder="{{prompts.searchInProgress}} {{searchPattern}}"
                 disabled="true">
        </div>

      </form>
    </div>
  </div>
</div>
